<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>714350994950-0t8t7bsgba3v7vffiqc3lmukt5p5evva.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.714350994950-0t8t7bsgba3v7vffiqc3lmukt5p5evva</string>
	<key>API_KEY</key>
	<string>AIzaSyBDSFh1mlNEU5hwhoPmAS3YTmUXQOG-fy4</string>
	<key>GCM_SENDER_ID</key>
	<string>714350994950</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Ali-Erdem-Ko-kcik.Shasu</string>
	<key>PROJECT_ID</key>
	<string>shasu-d2e11</string>
	<key>STORAGE_BUCKET</key>
	<string>shasu-d2e11.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:714350994950:ios:898eed2b19cc1ae94e4587</string>
</dict>
</plist>